@import "tailwindcss";

@font-face {
  font-family: "TeX Gyre Heros";
  src: url("/texgyreheros-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeX Gyre Heros";
  src: url("/texgyreheros-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "TeX Gyre Heros", monospace;
}

.leaflet-container {
  @apply absolute z-0 h-dvh w-dvw;
}

.leaflet-control-zoom,
.leaflet-control-attribution {
  @apply hidden;
}
